.modal {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  z-index: 999;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
.modal-content {
  max-width: 500px; /* Más compacto */
  width: 90%;
  position: relative;
  z-index: 1000;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
.modal-flex-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.modal-flex-title img {
  width: 28px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.voucher-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.voucher-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.applied-text {
  color: #8fd14f;
  font-size: 14px;
}
.full-width {
  width: 100%;
}
.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.modal-button {
  min-height: 38px;
  padding: 10px 16px;
  background-color: #E91E63;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.modal-button.confirm {
  background-color: #4CAF50; /* Verde para confirmar */
}
