<div class="modal" [@fadeInOut] *ngIf="isOpen">
  <div class="modal-content background-color-full rounded-8" (click)="$event.stopPropagation()">
    <div class="modal-flex-title mb-32">
      <span class="text-color fw-semibold text-semibig">
        {{'text_use_voucher' | translate }}
      </span>
      <img [src]="themeService.close" class="cursor-pointer" (click)="closeModal()" />
    </div>

    <div class="modal-form">
      <mat-dialog-content style="width: 100%;">
        <mat-radio-group class="voucher-list">
          <ng-container *ngFor="let b of bonuses">
            <div class="voucher-item">
              <mat-radio-button
                *ngIf="!b.payed"
                [disabled]="isInUse(b.id) || b.remaining_balance <= 0"
                (change)="bonus = b"
                [value]="b">
                <div class="voucher-header">
                  <span class="voucher-code">{{ b.code }}</span>
                  <span class="voucher-badge" *ngIf="b.is_generic">
                    {{ 'text_generic_voucher' | translate }}
                  </span>
                </div>
                <div class="voucher-meta">
                  <span>
                  {{ 'text_voucher_amount' | translate }}:
                    {{ b.quantity | number:'0.2-2' }} {{ currencyCode }}
                  </span>
                  <span>
                    {{ 'remaining_balance' | translate }}:
                    {{ b.remaining_balance | number:'0.2-2' }} {{ currencyCode }}
                  </span>
                </div>
              </mat-radio-button>
              <span class="applied-text" *ngIf="isInUse(b.id)">
                {{ 'applied' | translate }}
              </span>
            </div>
          </ng-container>
          <div *ngIf="!bonuses?.length" class="empty-state">
            {{ 'text_select_client_voucher' | translate }}
          </div>
        </mat-radio-group>
      </mat-dialog-content>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'text_code' | translate}}</mat-label>
        <input type="text" matInput [(ngModel)]="code" />
      </mat-form-field>
    </div>

    <!-- Botones alineados correctamente -->
    <div class="modal-buttons">
      <button (click)="searchVoucher()" class="modal-button">
        {{'text_search' | translate }}
      </button>
      <button (click)="confirmSelection()" *ngIf="bonus" class="modal-button confirm">
        {{'text_confirm' | translate }}
      </button>
    </div>
  </div>
</div>
