.courses-container{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.courses-container>div{
    display: flex; 
    flex-basis: calc(50% - 20px);  
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 1.8rem 1.5rem;
    justify-content: flex-start;
}
.filters-container-mobile{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.filters-container-mobile .btn-group{
    margin-top: 1rem;
}


/*CALENDAR MONTH*/
#info_calendar .calendar-month-cell{
    width: 14.28%;
    flex: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    position: relative;
  
    overflow-y: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  
    border: none !important;
  }
  #info_calendar .calendar-month-cell::-webkit-scrollbar{
    display: none;  /* Safari and Chrome */
  }
  #info_calendar .calendar-month-cell:last-child{
    border-right: 1px solid var(--white-transparent);
  }
  #info_calendar .calendar-month-cell span{
    font-size: 13px;
  }
  #info_calendar .active-date-month{
    background-color: var(--primary-bs);
    padding: 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.25rem!important;
  }
  #info_calendar .active-range-date-month{
    background-color: rgba(255, 48, 133,0.3);
    padding: 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.25rem!important;
  }
  #info_calendar div.circle.position-relative{
    top: 5px;
  }
  #info_calendar .row-calendar>div{
    height: 40px;
  }

  #info_calendar_private .calendar-month-cell{
    width: 14.28%;
    flex: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    position: relative;
  
    overflow-y: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  
    border: none !important;
  }
  #info_calendar_private .calendar-month-cell::-webkit-scrollbar{
    display: none;  /* Safari and Chrome */
  }
  #info_calendar_private .calendar-month-cell:last-child{
    border-right: 1px solid var(--white-transparent);
  }
  #info_calendar_private .calendar-month-cell span{
    font-size: 13px;
  }
  #info_calendar_private .active-date-month{
    background-color: var(--primary-bs);
    padding: 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.25rem!important;
  }
  #info_calendar_private .active-range-date-month{
    background-color: rgba(255, 48, 133,0.3);
    padding: 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.25rem!important;
  }
  #info_calendar_private div.circle.position-relative{
    top: 5px;
  }
  #info_calendar_private .row-calendar>div{
    height: 40px;
  }
  .cursor-pointer {
    cursor:pointer;
  }
  .green-shade {
    background-color: rgba(98,190,29,0.5);padding: 2px;border-radius: 50%;height: 30px;width: 30px;display: flex;justify-content: center;font-size: 1.25rem!important;cursor:pointer;
  }
  .bright-green-shade {
    background-color: rgba(98,190,29,1);padding: 2px;border-radius: 50%;height: 30px;width: 30px;display: flex;justify-content: center;font-size: 1.25rem!important;cursor:pointer;
  }
  .brown-shade {
    background-color: rgba(212,162,14,0.5);padding: 2px;border-radius: 50%;height: 30px;width: 30px;display: flex;justify-content: center;font-size: 1.25rem!important;cursor:pointer;
  }
  .bright-brown-shade {
    background-color: rgba(212,162,14,1);padding: 2px;border-radius: 50%;height: 30px;width: 30px;display: flex;justify-content: center;font-size: 1.25rem!important;cursor:pointer;
  }
  .width-50 {
    width:50%;
  }
  .width-100 {
    width:100%;
  }
  .bg-grey {
    background-color: #888 !important;cursor:inherit !important;
  }
  .bg-green {
    background-color: rgba(98,190,29,0.5);cursor:pointer;
  }
  .bg-green-bright {
    background-color: rgba(98,190,29,1);cursor:pointer;
  }
  .table-bordered-empty {
    width: 100%;overflow: auto;height: 350px;display: inline-block;border:1px solid #fff;position:relative;
  }
  .inside-empty {
    color: #fff;width: 50%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);border: 1px solid #fff;padding: 16px;text-align:center;
  }
  .table-bordered {
    border-collapse: collapse;width: 100%;overflow: auto;height: 350px;display: inline-block;
  }
  .table-bordered th, .table-bordered td {
    border: 1px solid #ddd;color: #fff;font-weight: 400;width: fit-content;max-width: 100px;font-size: 12px;line-height: 1.2;text-align: center;padding: 7px 5px;position: relative;
  }
  .table-bordered th:not(:first-child) {
    position: sticky;top: -1px;background: #161c28;z-index: 1;
  }
  .table-bordered td:first-child, .table-bordered th:first-child {
    position: sticky;left: -1px;background: #161c28;z-index:2;
  }
  .monitor-img {
    width:30px;height:30px;
  }
  .light-opacity {
    opacity:0.4;cursor:inherit !important;
  }
  /*CALENDAR MONTH*/

  .bg-light-gray-transparent {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .selected_element{
    border: 1px solid #ff3085;
  }
  .cursor-pointer {
    cursor:pointer;
  }
  .card-person{
    flex:1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    opacity:0.6;
    max-width:200px;
  }
  .card-person img{
    border-radius: 50%;
    width: 54px;
    height: 54px;
  }
  .add-wrapper {
    background-color:#555;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-wrapper img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .full-opacity{
    opacity:1;
  }

  .degree-image-container.big{
    position: relative;
    width: 70px;
    height: 70px;
  }
  .degree-image-container.big .aureola{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  
    width: 68px;
    height: 68px;
  }
  
  .degree-image-container.big .user-avatar-aureola{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .circle-selected {
    background-color:#ff3085;
  }
  .circle-warning {
    background-color:#fa9917;
  }
  .circle-success {
    background-color:#2ac940;
  }

.filter-flex {
  display:flex;flex-wrap:wrap;margin-right: -28px;
}

.checkbox-custom {
  margin-right: 28px;
}
.checkbox-custom label.collective:after {
    background-color: #fa9917 !important;
}
.checkbox-custom label.private:after {
    background-color: #2ac940 !important;
}

.groups-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.groups-container>div{
  display: flex; 
  flex-basis: calc(50% - 10px);  
  justify-content: center;
  flex-direction: column;
  margin: 5px;

  background-color: #08090E;
  border-radius: 8px;
  padding: 0.5rem 0.8rem;
}
.course-image {
  display:block;
}
.course-image-rev {
  display:none;
}
.course-info-mobile {
  width:50%;
}
.subtitle-course-icon {
  justify-content: start;
}
.show-course-text {
  display:block !important;
}
.show-course-text-rev {
  display:none !important;
}
.collective-width-var {
  width:50% !important;
}
.font-title-course {
  font-size:24px;
}
.font-subtitle-course {
  font-size:16px;
}
.btn-secondary-special {
  background-color: #3951af;
  color: #fff;
  border-color: #3951af;
}

.tooltip-wrapper {
  position: relative;
}

.tooltip-container {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  z-index: 1000;
  bottom: 25px;
  left: 0;
  font-size: 0.8rem;
  width:190px;
  max-width:190px;
}

.image-wrapper {
  width: 100%;
  padding-bottom: 72.5%;  /* 400*290px */
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.image-cover-wrapper {
  position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;
}

@media only screen and (max-width: 1100px) {
    .filters-container-mobile{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-column{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .course-info1-mobile{
        width: 100%;
        justify-content: space-between;
    }
    .course-info1-mobile span{
        text-align: right !important;
    }
    .course-info2-mobile{
        width: 100%;
        justify-content: space-between;
    }
    .course-info2-mobile>div{
        flex-direction: row-reverse !important;
        justify-content: space-between !important;
        min-width: 100%;
        align-items: center;
        margin-top: 1rem;
    }
    .course-image {
      display:none;
    }
    .course-image-rev {
      display:block;
    }
    .course-info-mobile {
      width:100%;
    }
    .subtitle-course-icon {
      justify-content: end;
    }
}

@media only screen and (max-width: 991px) {
  .show-course-text {
    display:none !important;
  }
  .show-course-text-rev {
    display:block !important;
  }
}

@media only screen and (max-width: 760px) {
  .collective-width-var {
    width:70% !important;
  }
}

@media only screen and (max-width: 600px) {
    .courses-container>div{
        min-width: 100%;
    }
    .course-image {
      display:block;
    }
    .course-image-rev {
      display:none;
    }
    .course-info-mobile {
      width:50%;
    }
    .collective-width-var {
      width:80% !important;
    }
    .font-title-course {
      font-size:18px;
    }
    .font-subtitle-course {
      font-size:14px;
    }
}

@media only screen and (max-width: 520px) {
    .course-image {
      display:none;
    }
    .course-image-rev {
      display:block;
    }
    .course-info-mobile {
      width:100%;
    }
    .collective-width-var {
      width:100% !important;
    }
    .font-title-course {
      font-size:16px;
    }
}


@media (max-width: 991px) { 
  .flex-small-column {
      flex-direction: column;gap:14px;
  }
  .calendar-max-width {
    max-width: 450px;
  }
}