<div class="modal" [@fadeInOut] *ngIf="isOpen" (click)="closeModal()">
  <div class="modal-content background-color-full rounded-8" (click)="$event.stopPropagation()">
    <div class="text-color fw-semibold text-semibig modal-flex-title">
      {{'text_login' | translate }}
      <img [src]="themeService.close" class="cursor-pointer" (click)="closeModal()" />
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isForgotPass">
      <div class="modal-form">
        <mat-form-field appearance="outline" class="flex-auto" style="width: 100%">
          <mat-label>{{'text_email' | translate}}</mat-label>
          <input matInput type="email" formControlName="email" required autocomplete="username">
        </mat-form-field>
        <mat-form-field appearance="outline" class="flex-auto" style="width: 100%">
          <mat-label>{{'text_password' | translate}}</mat-label>
          <input matInput type="password" formControlName="password" required autocomplete="current-password">
        </mat-form-field>
        <div (click)="isForgotPass=true" style="color: var(--Primary, #E91E63);          
            font-style: normal;           
            " class="cursor-pointer">
          {{'text_forgot_password' | translate }}
        </div>
        <button (click)="onSubmit()" class="button-primary" type="button">
          {{'text_login' | translate }}
        </button>
        <div style="width: 100%;    text-align: -webkit-center;">
          {{"no_account"|translate}}
        </div>
        <div (click)="isModalNewUser=true" style="color: var(--Primary, #E91E63);
          font-weight: 600;
          width: 100%; 
          text-align: -webkit-center;
          " class="cursor-pointer">
          {{'sign_up' | translate }}
        </div>
      </div>
    </form>
    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()" *ngIf="isForgotPass">
      <div class="modal-form">
        <mat-form-field appearance="outline" class="flex-auto" style="width: 100%">
          <mat-label>{{'text_email' | translate}}</mat-label>
          <input matInput type="email" formControlName="email" required>
        </mat-form-field>
        <button (click)="sendMail()" class="button-primary" style="margin-top: 16px;" type="button"
          [disabled]="forgetForm.status!=='VALID'">
          {{'text_reset_password' | translate }}
        </button>
        <div (click)="isForgotPass=false" style="color: var(--Primary, #E91E63);
      font-weight: 600;
      width: 100%; 
      text-align: -webkit-center;
      " class="cursor-pointer">
          {{'text_login' | translate }}
        </div>
      </div>
    </form>
  </div>
</div>

<app-modal-new-user [isOpen]="isModalNewUser" (onClose)="closeModalNewUser()"
  (goLogin)="isModalNewUser=false"></app-modal-new-user>