
<div class="text-color mb-24 montserrat">
  <span class="text-color-light underline cursor-pointer montserrat"
    (click)="goTo(schoolData.slug)">{{'Home' | translate
    }}</span>
  / {{getCourseName(course)}}
</div>

<div class="course-reservation-section">
  <div class="course-section">
    <div class="rounded-8 course-image-wrapper">
      <div class="course-image-text" style="padding: 16px 0;">
        <div
          class="fw-semibold course-image-icon montserrat">
          <img
            [src]="course.icon"
            alt="Icono">
          <div class="text-white fw-semibold text-semibig">
            {{getCourseName(course)}}
          </div>

        </div>
      </div>
      <div style="position: relative;">
        <img [src]="course?.image !== null ? course?.image : defaultImage"
          class="course-image-img" style="border-radius: 10px;" />
        <span class="last-plaza">
          {{"Solo 1 plaza disponible!" | translate}}
        </span>
      </div>
    </div>
    <div class="course-content" *ngIf="course">
      <div
        style="display: flex;justify-content: space-between;flex-wrap: wrap;gap: 8px;">
        <div style="min-width: 150px;">
          <span class="price"> {{course.price}} {{course.currency}} /Fecha
          </span>
        </div>
        <div style="display: flex;align-items: center;">
          <img src="assets/icons/start_empty.png" alt class="icon24">
          <span style="
          color: #E91E63;
          word-wrap: break-word">
            {{"Reserva 2 fechas y obten el 10% de descuento!" | translate}}
          </span>
        </div>

      </div>
      <div class="dates"
        style="display: flex;gap: 8px;align-items: self-start;">
        <img src="assets/icons/calendar.png" alt="Calendario" class="icon24">
        <div>
          <span class="descripcion"> Desde </span>
          <span class="campo">{{course.date_start | date: 'dd.MM.yyyy' }}</span>
          <span class="descripcion"> hasta </span>
          <span class="campo">{{course.date_end | date: 'dd.MM.yyyy'}}</span>
          <br>
          <span class="campo2">
            <!--{{getWeekDay()}}
            {{findMinHourStart()}}–{{findMaxHourEnd()}}-->
            <ng-container *ngIf="course.course_type == 1">
              <div
                *ngFor="let date of course.course_dates">
                {{date.date | date: 'dd.MM.yyyy'}}
                {{date.hour_start}}-{{date.hour_end}}
              </div>
            </ng-container>
            <ng-container *ngIf="course.course_type == 2">
              <div class="mt-8 course-box-content-list">
                <div>{{course.course_dates[0].date | date:
                  'dd.MM.yyyy'}}-{{course.course_dates[course.course_dates.length-1].date
                  | date: 'dd.MM.yyyy'}}</div>
                <div>{{
                  getWeekdays(course.settings) }}</div>
              </div>
              <div class="mt-8 course-box-content-list">
                <div>{{'text_from_price'
                  | translate }} {{course.duration}}</div>
                <div>{{course.hour_min}}h-{{course.hour_max}}h</div>
              </div>
            </ng-container>
          </span>
        </div>
      </div>
      <div class="max-group"
        style="display: flex;gap: 8px;align-items: center;">
        <img src="assets/icons/people.png" alt="Grupo máximo" class="icon24">
        <span class="campo2">Max. {{course.max_participants}}</span>
        <span class="campo2" *ngIf="course.age_max<99 && course.age_min>1">
          ,{{course.age_min}}-{{course.age_max}}+ años
        </span>
      </div>

      <!--<ng-container *ngIf="course?.course_type==1">
        <div class="text-color text-medium montserrat course-content-title" *ngIf="course.is_flexible">
          <img [src]="themeService.calendar">
          {{'text_choose_dates' | translate }}
        </div>
        <div class="text-color text-medium montserrat course-content-title"
          *ngIf="!course.is_flexible">
          <img [src]="themeService.calendar">
          {{'text_availability' | translate }}
        </div>
        <div class="mt-12 course-content-list">
          <div *ngIf="!course.is_flexible">
            <ng-container *ngFor="let date of course?.course_dates">
              <div class="text-color-light pl-32 montserrat"
                *ngIf="date.active || date.active === 1">·
                {{date.date | date: 'dd-MM-yyyy'}}
                {{date.hour_start.substring(0,5) }} -
                {{date.hour_end.substring(0,5)}}</div>
                *ngIf="date.active || date.active === 1">·
                {{date.date | date: 'dd-MM-yyyy'}}
                {{date.hour_start.substring(0,5) }} -
                {{date.hour_end.substring(0,5)}}</div>
            </ng-container>
          </div>
          <div *ngIf="course.is_flexible">
            <ng-container *ngFor="let date of course?.course_dates">

              <div class="checkbox-circle pl-32"
                *ngIf="(date.active || date.active === 1) && isDateValid(date.date, date.hour_start, date.hour_end)">
              <div class="checkbox-circle pl-32"
                *ngIf="(date.active || date.active === 1) && isDateValid(date.date, date.hour_start, date.hour_end)">
                <input
                  id="checkbox-course-{{date.id}}"
                  type="checkbox"
                  *ngIf="course?.is_flexible "
                  (change)="selectDate(date.date)" />
                <label class="text-color-light montserrat"
                  for="checkbox-course-{{date.id}}">
                  (change)="selectDate(date.date)" />
                <label class="text-color-light montserrat"
                  for="checkbox-course-{{date.id}}">
                  {{ date.date | date: 'dd-MM-yyyy' }}
                  {{ date.hour_start.substring(0, 5) }} - {{
                  date.hour_end.substring(0, 5) }}
                  {{ date.hour_start.substring(0, 5) }} - {{
                  date.hour_end.substring(0, 5) }}
                </label>
              </div>
            </ng-container>
          </div>

        </div>
      </ng-container>
      <ng-container *ngIf="course?.course_type==2">
        <div class="course-content-flex">
          <div>
            <div class="text-color text-medium montserrat course-content-title">
              <img [src]="themeService.calendar">
              {{'text_when_course' | translate }}
            </div>
            <div class="mt-8 course-content-list">
              <div
                class="text-color-light pl-32 montserrat">{{course?.start_date |
                date: 'dd/MM/yyyy'}} - {{course?.end_date | date:
                'dd/MM/yyyy'}}</div>
              <div class="text-color-light pl-32 montserrat">{{
                getWeekdays(course?.settings) }}</div>
              <div
                class="text-color-light pl-32 montserrat">{{'text_max_participants'
                | translate }}: {{course?.max_participants}}</div>
              <div
                class="text-color-light pl-32 montserrat">{{course?.date_start |
                date: 'dd/MM/yyyy'}} - {{course?.date_end | date:
                'dd/MM/yyyy'}}</div>
              <div class="text-color-light pl-32 montserrat">{{
                getWeekdays(course?.settings) }}</div>
              <div
                class="text-color-light pl-32 montserrat">{{'text_max_participants'
                | translate }}: {{course?.max_participants}}</div>
            </div>
          </div>
          <div>
            <div class="text-color text-medium montserrat course-content-title">
              <img [src]="themeService.clock">
              {{'text_course_duration' | translate }}
            </div>
            <div class="mt-8 course-content-list">
              <div class="text-color-light pl-32 montserrat"
                *ngIf="!course?.is_flexible">{{course?.duration}}</div>
              <div class="text-color-light pl-32 montserrat"
                *ngIf="course?.is_flexible">{{'text_from_price' | translate }}
                {{course?.duration}}</div>
              <div
                class="text-color-light pl-32 montserrat">{{course?.hour_min}}h
                - {{course?.hour_max}}h</div>
              <div class="text-color-light pl-32 montserrat"
                *ngIf="!course?.is_flexible">{{course?.duration}}</div>
              <div class="text-color-light pl-32 montserrat"
                *ngIf="course?.is_flexible">{{'text_from_price' | translate }}
                {{course?.duration}}</div>
              <div
                class="text-color-light pl-32 montserrat">{{course?.hour_min}}h
                - {{course?.hour_max}}h</div>
            </div>
          </div>
        </div>
      </ng-container>-->
      <span class="descripcion2">
        {{"RESUMEN" |translate}}
      </span>
      <div class="show-desktop text-color-light montserrat"
        [innerHTML]="getShotrDescription(course)">
      </div>

      <span class="descripcion2">
        {{"DESCRIPCIÓN" |translate}}
      </span>
      <div class="show-desktop text-color-light montserrat"
        [innerHTML]="getDescription(course)">
      </div>
      <ng-container *ngIf="course.availableDegrees.length>0">
        <span class="descripcion2">
          {{"NIVELES" |translate}}
        </span>
        <div style="display: flex;flex-wrap: wrap;gap: 5px;">
          <span
            *ngFor="let item of course.availableDegrees"
            style="color: white; width: fit-content;padding: 10px;height: 36px;border-radius: 3px;"
            [style.backgroundColor]="item.color">
            {{item.name}}
          </span>
        </div>
      </ng-container>

      <ng-container *ngIf="course?.options">
        <span class="descripcion2">
          {{"Forfait" |translate}}
        </span>
        <div
          style="display: flex;gap: 16px;padding: 20px 0;flex-direction: column;">
          <mat-checkbox *ngFor="let extra of settingsExtras"
            style="font-weight: 600;width: 100%;border-radius: 3px;border: 1px solid rgba(34, 34, 34, 1);height: 64px">
            <div style="display: flex;gap: 8px;padding: 4px 0;
            padding-right: 10px;
            justify-content: space-between;
            align-items: center;">
              <div>
                <span style="
               font-weight: 600;
               word-wrap: break-word">
                  {{extra.product}}
                </span>
                <br>
                <span style="
              color: #8B9099;
               word-wrap: break-word">
                  {{extra.name}}
                </span>
              </div>
              <span style="word-wrap: break-word">
                {{extra.price}}{{course?.currency}} / {{'date' | translate }}
              </span>
            </div>
          </mat-checkbox>
        </div>
      </ng-container>
    </div>
  </div>

  <!--Reservation-->
  <div class="reservation-section">
    <div class="rounded-8 reservation-box">
      <div *ngIf="!userLogged" class="reservation-box" style="padding: 20px;">
        <div style="width: 100%;" class="text-color montserrat">
          {{'text_booking1' | translate }}
        </div>
        <button
          style="height: 40px;border-radius: 3px;color: white;background-color: #E91E63;"
          class="rounded-8 button-style cursor-pointer width-100"
          type="button"
          (click)="schoolService.isModalLogin=true">
          {{'text_already_client' | translate }}
        </button>
        <button
          style="height: 40px;border-radius: 3px;background-color: white;border:1px solid black;"
          class="rounded-8 button-style cursor-pointer width-100"
          type="button"
          (click)="schoolService.isModalNewUser = !schoolService.isModalNewUser">
          {{'text_new_client' | translate }}
        </button>
      </div>
      <div *ngIf="isSmallScreen && userLogged && course && !SmallScreenModal"
        style="display: flex;    justify-content: center;    padding: 16px;
        height: 70px;
        width: 100%;
        gap: 16px;">
        <div class="reservation-price-flex"
          style="justify-content: flex-start;">
          <div class="text-medium text-color uppercase">
            {{'text_price' | translate }}
          </div>
          <div class="text-medium text-color" *ngIf="!course?.is_flexible">
            <span class="text-color text-medium fw-bold">
              {{course?.price}}</span> {{ course?.currency }}
          </div>
          <div class="text-medium text-color" *ngIf="course?.is_flexible">
            <span class="text-color text-medium fw-bold">
              {{collectivePrice}}</span> {{ course?.currency }} /{{'date' |
            translate }}
          </div>
        </div>
        <button
          (click)="SmallScreenModal=true"
          style="
            background-color: rgba(233, 30, 99, 1);
            width: 100%;border-radius: 3px;
            height: 38px;padding: 10px 12px;
            color: white;
             font-weight: 600;
             word-wrap: break-word"
          type="button">
          {{'Continuar' | translate }}
        </button>
      </div>
      <div class="reservation-view"
        *ngIf="(!isSmallScreen || isSmallScreen && SmallScreenModal) && userLogged && course">
        <div
          class="titlexxxx">
          <img src="assets/icons/arrow-left.png"
            (click)="!course.is_flexible&&course.course_type === 3?courseFlux=courseFlux-2:courseFlux=courseFlux-1;"
            *ngIf="courseFlux>0"
            style="cursor: pointer;"
            class="icon24">
          {{'text_new_booking' | translate }}
          <img src="assets/icons/x.png"
            style="margin-left: auto;cursor: pointer;"
            (click)="SmallScreenModal=false"
            class="icon24">
        </div>
        <div
          style="height: 48px; padding: 16px 20px;display: flex;border-bottom: 1px solid rgba(139, 144, 153, 1);align-items: center;">
          <span style="
          font-size: 12px;
          line-height: 16px;
          word-wrap: break-word"
            [style.color]="courseFlux===0?'#E91E63':'#8B9099'"> PARTICIPANTE
          </span>
          <img src="assets/icons/arrow-right.png" class="icon20">
          <span style="
          font-size: 12px;
          line-height: 16px;
          word-wrap: break-word"
            [style.color]="courseFlux===1?'#E91E63':'#8B9099'"> NIVEL </span>
          <img src="assets/icons/arrow-right.png" class="icon20"
            *ngIf="course.is_flexible || course.course_type===2">
          <span
            *ngIf="course.is_flexible || course.course_type===2"
            style="
            font-size: 12px;
            line-height: 16px;
            word-wrap: break-word"
            [style.color]="courseFlux===2?'#E91E63':'#8B9099'"> FECHA </span>
          <img src="assets/icons/arrow-right.png" class="icon20">
          <span
            style="
              font-size: 12px;
              line-height: 16px;
              word-wrap: break-word"
            [style.color]="courseFlux===3?'#E91E63':'#8B9099'"> EXTRAS </span>
        </div>
        <div class="reservation-users" style="padding: 20px;"
          *ngIf="courseFlux===0">
          <div style="  word-wrap: break-word">
            <ng-container *ngIf="course?.course_type === 2">
              {{'text_select_user_or_more' | translate }}

              {{course?.max_participants}}
            </ng-container>
            <ng-container *ngIf="!(course?.course_type === 2)">
              {{'text_select_user' | translate }}
            </ng-container>
          </div>

          <mat-checkbox
            (click)="selectUser(userLogged.clients[0],course?.course_type)"
            style="height: 64px;width: 100%;border-radius: 3px;border: 1px solid rgba(34, 34, 34, 1);">
            <div style="display: flex;gap: 8px;padding: 12px 0;">
              <app-level-user *ngIf="dataLevels && dataLevels.length"
                [allLevels]="dataLevels" [selectLevel]="185" [size]="40"
                [userImage]="userLogged?.clients[0].image || 'assets/avatar.png'"></app-level-user>
              <div
                class="text-color text-small montserrat reservation-user-title">
                <img src="assets/images/gold-crown.png">
                {{userLogged?.clients[0].last_name}}
              </div>
              <!--<div
               
              *ngIf="(course?.course_type === 2 && selectedUserMultiple.includes(userLogged?.clients[0])) || (!(course?.course_type === 2) && selectedUser === userLogged?.clients[0])"
               
              class="reservation-user-bullet"></div>-->
            </div>
          </mat-checkbox>

          <div class="reservation-user-box cursor-pointer"
            *ngFor="let utilizer of userLogged?.clients[0].utilizers"
            (click)="selectUser(utilizer,course?.course_type)"
            [ngClass]="{'opacity-full': (course?.course_type === 2 && selectedUserMultiple.includes(utilizer)) || (!(course?.course_type === 2) && selectedUser === utilizer)}">
            <app-level-user *ngIf="dataLevels && dataLevels.length"
              [allLevels]="dataLevels" [selectLevel]="182" [size]="70"
              [userImage]="themeService.avatarEmpty"></app-level-user>
            <div
              class="text-color text-small montserrat reservation-user-title">
              {{utilizer.last_name}}
            </div>
            <div
              *ngIf="(course?.course_type === 2 && selectedUserMultiple.includes(utilizer)) || (!(course?.course_type === 2) && selectedUser === utilizer)"
              class="reservation-user-bullet"></div>
          </div>

          <button (click)="openModalAddUser()"
            style="height: 40px;padding: 10px;width: 100%;border-radius: 3px;border: 1px solid rgba(34, 34, 34, 1);">
            {{'text_add' | translate }} {{'text_user' | translate }}
          </button>
        </div>

        <div *ngIf="courseFlux===1"
          style="padding: 20px;">
          <div>
            {{'text_select_level' | translate }}
          </div>
          <div *ngIf="course.availableDegrees.length>0"
            style="
            background-color: rgba(210, 239, 255, 1);
        border-radius: 8px;margin-top: 12px;
            padding: 10px;display: flex;gap: 8px; align-items: center;
           word-wrap: break-word">
            <img src="assets/icons/info.png" alt class="icon24">
            {{ 'text_no_level' | translate }}
          </div>
          <div>
            <!--<div *ngIf="selectedLevel" class="rounded-8 level-wrapper"
              (mouseenter)="showTooltipFilter(0)"
              (mouseleave)="hideTooltipFilter(0)">
              <div
                [ngStyle]="{'color': selectedLevel.color}">{{selectedLevel.league}}</div>
              <div class="text-color">{{selectedLevel.name}}</div>
              <div class="level-check">
                <img src="assets/icons/check.png" />
              </div>

              <div class="tooltip-container-level background-color-trans"
               
                  *ngIf="tooltipsFilter[0]" [@fadeInOut]>
                <div class="text-small montserrat text-color-light"
                 
                    *ngFor="let goal of selectedLevel.degrees_school_sport_goals">
                  {{goal.name}}
                </div>
              </div>
            </div>

            <div
              class="text-color montserrat cursor-pointer reservation-return mt-24 mb-24"
              (click)="showLevels=!showLevels">
              <img [src]="themeService.edit">
              {{'text_change_level' | translate }}
            </div>-->
            <!--showLevels && -->
            <div
              class="levels-section" style="margin-top: 20px;">
              <ng-container
                *ngFor="let level of course.availableDegrees.length>0?course.availableDegrees:dataLevels;let i = index">
                <div
                  *ngIf="i===0 || level.level !== (course.availableDegrees.length>0?course.availableDegrees:dataLevels)[i-1].level"
                  style="
                color: #8B9099;
                 font-weight: 600;
                 line-height: 16px;">
                  {{level.level }}
                </div>
                <!--*ngIf="isAgeAppropriate(transformAge(selectedUser.birth_date), level.age_min, level.age_max) &&
                       hasMatchingSportLevel(level)"-->
                <mat-checkbox
                  (click)="selectLevel(level)"
                  style="width: 100%;border-radius: 3px;border: 1px solid rgba(34, 34, 34, 1);"
                  [ngStyle]="{'background-color': level.color+'33','border': '1px solid '+level.color}">
                  <div style="display: flex;gap: 8px;padding: 12px 0;">
                    <div
                      [ngStyle]="{'color': level.color}"
                      style="font-size: 12px;line-height: 16px;">
                      {{level.annotation}} {{level.name}}
                    </div>
                  </div>
                </mat-checkbox>
              </ng-container>
            </div>
            <div
              *ngIf="showLevels && course?.availableDegrees && course?.availableDegrees.length && !hasLevelsAvailable">
              <p> {{'text_no_degrees' | translate }}</p>
            </div>
          </div>
        </div>
        <div style="padding: 20px;"
          *ngIf="course?.course_type==1 && course.is_flexible && courseFlux===2">
          <div>
            {{"Selecciona las fechas que quieres reservar." | translate}}
          </div>
          <div>
            <mat-checkbox
              *ngFor="let date of getDaysBetweenDates(course.date_start,course.date_end)"
              style="font-weight: 600;">
              {{date}}
            </mat-checkbox>
          </div>
        </div>
        <div *ngIf="course?.course_type==2 && courseFlux===2"
          style="padding: 20px;">
          <ng-container
            *ngIf="selectedUserMultiple && selectedUserMultiple.length">
            <div class="text-color montserrat margin-auto">
              {{'text_select_date_disponibility' | translate }}
            </div>
            <div
              style="display: flex;flex-wrap: wrap;gap: 16px; margin-top: 20px;">
              <mat-form-field appearance="outline" class="flex-auto"
                style="width: 100%">
                <mat-label>{{'text_birth_date' | translate}}</mat-label>
                <input matInput type="date"
                  [(ngModel)]="selectedDateReservation"
                  required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="flex-auto"
                style="width: calc(50% - 8px);">
                <mat-label>{{'Hora' | translate}}</mat-label>
                <input matInput type="text"
                  required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="flex-auto"
                style="width: calc(50% - 8px);">
                <mat-label>{{'Duracion' | translate}}</mat-label>
                <input matInput type="text"
                  required>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
        <div *ngIf="courseFlux===3"
          style="display: flex;padding: 20px;flex-direction: column;">
          <div>
            Si lo deseas, puedes agregar extras a tu reserva y/o observaciones
            para la escuela.
          </div>
          <div
            *ngFor="let date of course.is_flexible?getDaysBetweenDates(course.date_start,course.date_end):['1']"
            style="display: flex;gap: 16px;padding-top: 20px;flex-direction: column;">
            {{course.is_flexible?date:''}}
            <mat-checkbox *ngFor="let extra of settingsExtras"
              style="width: 100%;border-radius: 3px;border: 1px solid rgba(34, 34, 34, 1);height: 64px">
              <div style="display: flex;gap: 8px ;
              height: 64px;
              justify-content: space-between;
              align-items: center;">
                <div>
                  <span>
                    {{extra.product}}
                  </span>
                  <br>
                  <span>
                    {{extra.name}}
                  </span>
                </div>
                <span style="width: 125px;padding: 10px;">
                  {{extra.price}}{{course?.currency}} / {{'date' | translate
                  }}
                </span>
              </div>
            </mat-checkbox>
          </div>
          <div style="margin-top: 20px;">
            <mat-form-field appearance="outline" class="flex-auto"
              style="width: 100%">
              <mat-label>{{'Observaciones' | translate}}</mat-label>
              <textarea matInput cols="3">
            </textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="reservation-price-flex reservation-view2"
          style="padding: 10px 20px; border-top: 1px solid rgba(222, 230, 234, 1); border-bottom: 1px solid rgba(222, 230, 234, 1);">
          <div class="text-medium text-color uppercase">
            {{'text_price' | translate }}
          </div>
          <div class="text-medium text-color" *ngIf="!course?.is_flexible">
            <span class="text-color text-medium fw-bold">
              {{course?.price}}</span> {{ course?.currency }}
          </div>
          <div class="text-medium text-color" *ngIf="course?.is_flexible">
            <span class="text-color text-medium fw-bold">
              {{collectivePrice}}</span> {{ course?.currency }} /{{'date' |
            translate }}
          </div>
        </div>
        <div style="padding: 20px;">
          <button
            (click)="next()"
            [disabled]="course.course_type===1&&courseFlux===0&&!selectedUser || course.course_type===2&&courseFlux===0&&(selectedUserMultiple.length<1) || !selectedLevel&&courseFlux===1"
            style="
              background-color: rgba(233, 30, 99, 1);
              width: 100%;border-radius: 3px;
              height: 50px;padding: 10px 12px;
              color: white;
              font-weight: 600;"
            type="button">
            {{'Continuar' | translate }}
          </button>
        </div>
        <!--<div (click)="goTo(schoolData.slug)"
          class="text-color-light montserrat cursor-pointer reservation-return mt-12">
          <img [src]="themeService.arrowReturn">
          {{'text_delete_return_courses' | translate }}
        </div>-->
      </div>
      <!--/USER LOGGED-->
    </div>
  </div>
</div>

<app-modal-add-user [slug]="schoolData?.slug" [isOpen]="isModalAddUser"
  (onClose)="closeModalAddUser()"></app-modal-add-user>

<app-course-modal-confirm [course]="course"
  [selectedUsers]="course.course_type===1?[selectedUser]:selectedUserMultiple"
  [selectedForfait]="selectedForfait"
  *ngIf="confirmModal"
  (onClose)="confirmModal=false"
  (goCart)="goTo(schoolData.slug+'/cart/')"
  (next)="addBookingToCart()"
  [collectivePrice]="collectivePrice">
</app-course-modal-confirm>