<div class="card">
    <div class="card-header">
        <img [src]="data.image || '../../../assets/images/3.png'"
            alt="Imagen de esquiadores"
            class="card-image">
        <div class="left-icon">
            <img [src]="data.icon" alt="Icono naranja">
        </div>
        <div class="favorite-icon" *ngIf="data.destacado">
            <img src="assets/icons/destacado.png" alt="Favorito">
        </div>
    </div>
    <div class="card-body">
        <h3 class="card-title">
            {{getCourseName()}}
        </h3>
        <p class="price">
            {{getCoursePrice()}} {{data.currency}} / {{"Fecha" | translate}}
        </p>
        <p class="description" [innerHTML]="getShotrDescription()"> </p>
        <div class="dates">
            <img src="assets/icons/calendar.png" alt="Calendario" class="icon">
            <div>
                <span>Desde <strong>{{data.date_start | date}}</strong>
                    hasta
                    <strong>{{data.date_end | date}}</strong></span>
                <br>
                <span>
                    {{getWeekDay()}}
                    {{findMinHourStart()}}–{{findMaxHourEnd()}}
                </span>
            </div>
        </div>
        <div class="max-group">
            <img src="assets/icons/people.png" alt="Grupo máximo" class="icon">
            <span>Max. {{data.max_participants}}</span>
            <span
                *ngIf="data.age_max<99 && data.age_min>1">
                ,{{data.age_min}}-{{data.age_max}}+ años
            </span>
        </div>
    </div>
</div>
