<div class="card">
    <div class="card-header">
        <img src="assets/icons/ejemplo1.png" alt="Imagen de esquiadores"
            class="card-image">
        <div class="left-icon">
            <img src="assets/icons/iconocursoejemplo.png" alt="Icono naranja">
        </div>
        <div class="favorite-icon">
            <img src="assets/icons/destacado.png" alt="Favorito">
        </div>
    </div>
    <div class="card-body">
        <h3 class="card-title">Curso colectivo fix, texto largo se tiene que
            cortar después de 2 line...</h3>
        <p class="price">60.00 CHFs /Fecha</p>
        <p class="description">
            Resumen qui. Curso colectivo flex sept apto a todas las edades. Si
            el texto es largo se c...
        </p>
        <div class="dates">
            <img src="assets/icons/calendar.png" alt="Calendario" class="icon">
            <div>
                <span>desde <strong>25.03.2024</strong> hasta
                    <strong>25.04.2024</strong></span>
                <br>
                <span>mar, jue, sab y dom 09:00–11:00</span>
            </div>
        </div>
        <div class="max-group">
            <img src="assets/icons/people.png" alt="Grupo máximo" class="icon">
            <span>Max. 7</span>
        </div>
    </div>
</div>
