.dimension {
  display: flex;
}

.userd {
  min-width: 300px;
}

.reservation-return {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-family: DM Sans;
  line-height: 18px;
  word-wrap: break-word;
  cursor: pointer;
  color: #222222;
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
  padding: 0.5rem 1rem;
  background: #fff;
  margin: 0; /* elimina los márgenes por defecto de h2 */
}

.flex-sections-user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 24px;
  flex-direction: row;
  gap: 40px;
}

.tabsWrapper {
  width: 100%;
  ::ng-deep {
    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
      color: #222222;
      font-size: 14px;
      font-family: DM Sans;
      font-weight: 600;
      line-height: 18px;
      word-wrap: break-word;
    }
    .mat-mdc-tab {
      background-color: white;
      border: 1px solid #dee6ea;
      height: 64px;
      font-size: 0.85rem;
      font-weight: 400;
      line-height: 1.15rem;
    }

    .mdc-tab-indicator--active {
      background-color: white;
      font-size: 0.85rem;
      font-weight: 600;
      line-height: 1.15rem;
    }

    .mat-mdc-tab .mdc-tab-indicator__content--underline {
      border-top-width: 3px;
      align-self: flex-start;
      border-color: #e91e63;
    }
    .mat-mdc-tab-body.mat-mdc-tab-body-active {
      background-color: white;
    }
  }
}
