<div (click)="goBack('home')"
  class="reservation-return">
  <span style="color: #61656d;"> {{'Home' | translate }} </span> /
  <span style="font-weight: 600;">
    {{'Usuarios' | translate }}
  </span>
</div>

<mat-spinner *ngIf="loading" style="margin: 0 auto"></mat-spinner>

<div class="dimension">
  <div class="userd">
    <div
      class="flex flex-col md:flex-row md:items-start flex-sections-user-left">
      <div
        style="margin-left:0; margin-right: 1.5rem;max-width: initial !important;"
        class="card max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
        <div class="flex flex-col"
          style="cursor:pointer;">
          <div style="height: 64px;padding: 10px;">
            <button
              (click)="addUtilisateur()"
              style="background-color: white; border: 1px solid black; border-radius: 3px;height: 40px;padding: 10px 12px;width: 100%;
              
              
              
              font-weight: 600;
              
              word-wrap: break-word">
              {{"Añadir usuario" | translate}}
            </button>
          </div>
          <div
            class="flex items-center"
            (click)="changeClientData(userLogged.clients[0].id)"
            [style.background]="id===userLogged.clients[0].id?'#DEE6EA':''"
            style="display:flex;width:100%;align-items:center;gap:10px;padding: 20px;border: 1px solid #DEE6EA;">
            <img
              [src]="userLogged.clients[0]?.image === null || userLogged.clients[0]?.image === '' ? '../../../../assets/images/avatar.png': userLogged.clients[0]?.image"
              [ngStyle]="{    'border': mainId == id ? '#FF3085 1px solid' : 'none'  }"
              alt="Profile Picture"
              class="avatar ltr:mr-3 rtl:ml-3 flex-none"
              style="position:static !important;height: 2.5rem !important;width: 2.5rem !important;" />
            <div class="body-2 m-0 leading-snug montserrat"
              style="font-size:13px;color:black">{{
              userLogged.clients[0]?.first_name }} {{
              userLogged.clients[0]?.last_name }}</div>
            <img src="assets/icons/arrow-right2.png" alt
              *ngIf="id===userLogged.clients[0].id"
              class="icon24"
              style="margin-left: auto;">
          </div>
          <div
            *ngFor="let user of clientUsers"
            class="flex items-center"
            [style.background]="id===user.id?'#DEE6EA':''"
            (click)="changeClientData(user.id)"
            style="display:flex;width:100%;align-items:center;gap:10px;padding: 20px;border: 1px solid #DEE6EA;">
            <img
              [src]="user?.image === null || user?.image === '' ? '../../../../assets/images/avatar.png': user?.image"
              alt="Profile Picture"
              class="avatar ltr:mr-3 rtl:ml-3 flex-none"
              [ngStyle]="{    'border': user.id === id && id !== mainId ? '#FF3085 1px solid' : 'none'  }"
              style="position:static !important;height: 2.5rem !important;width: 2.5rem !important;" />
            <div class="body-2 m-0 leading-snug montserrat"
              style="font-size:13px;color:black">{{ user?.first_name
              }} {{
              user?.last_name }}</div>
            <img src="assets/icons/arrow-right2.png" alt
              *ngIf="id===user.id"
              class="icon24"
              style="margin-left: auto;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-tab-group (selectedIndexChange)="onTabChange($event)" *ngIf="!loading"
    class="tabsWrapper">
    <mat-tab label="{{'data' | translate}}">
      <app-user-detail #userDetail [idParent]="id"
        (idChange)="handleIdChange($event)"></app-user-detail>
    </mat-tab>
    <mat-tab label="{{'sports' | translate}}">
      <div *ngIf="!loading">
        <div
          style="display: flex;gap: 20px;margin: 30px 5px;flex-wrap: wrap;justify-content: center;">
          <button *ngFor="let sport of clientSport"
            style="border: 1px solid black;border-radius: 3px;height: 40px;min-width: 150px;
             
             
             
             
             word-wrap: break-word"
            [style.color]="selectedSport.sport_id==sport.sport_id?'white':'black'"
            [style.background]="selectedSport.sport_id==sport.sport_id?'black':'white'"
            (click)="selectSportEvo(sport)">
            {{sport.name}}
          </button>
        </div>
        <div style="border-top: 1px solid #8B9099;padding: 20px;">
          <span style="color: #8B9099;
           font-size: 12px;
           
           font-weight: 600;
           line-height: 16px;
           word-wrap: break-word">
            {{'sport_evolution' | translate }}
          </span>
          <div>
            <div class="flex-sections-user" *ngIf="!loading && selectedSport">
              <img src="assets/icons/arrow-right3.png"
                (click)="changeLevel(-1)"
                style="position: absolute;top: 0;right: 0;cursor: pointer;"
                class="icon40">
              <img src="assets/icons/arrow-left3.png"
                (click)="changeLevel(1)"
                style="position: absolute;top: 0;left: 0;cursor: pointer;"
                class="icon40">
              <div>
                <div style="align-items: center">
                  <span
                    style="color: white; padding: 4px 10px;height: 24px;border-radius: 3px;
                  font-size: 12px;
                  
                  
                  line-height: 16px;
                  word-wrap: break-word"
                    [style.background]="selectedSport.degree.color">
                    {{selectedSport?.level?.annotation}} /
                    {{selectedSport?.level?.name}}
                  </span>
                  <span style="margin-left: auto;
                  
                  
                  
                  font-weight: 600;
                  
                  word-wrap: break-word">
                    {{calculateGoalsScore()}}%
                  </span>
                </div>
                <div style="align-items: center">
                  <div style="width: 100px;">
                    <app-level-user *ngIf="!coloring"
                      [allLevels]="allLevels"
                      [selectLevel]="selectedSport?.level?.id"
                      [size]="100"
                      [userImage]="getGoalImage()">
                    </app-level-user>
                  </div>
                  <span *ngIf="getGoalImage()" class="descripcion">
                    Enhorabuena! Has obtenido la medalla por este nivel. Es
                    hora
                    de pasar al próximo!
                  </span>
                  <span *ngIf="!getGoalImage()" class="descripcion">
                    Logra todos los objectivos de este curso para obtener la
                    medalla.
                  </span>
                </div>
                <div style="flex-direction: column;">
                  <span style="
                  color: #8B9099;
                  font-size: 12px;
                  
                  font-weight: 600;
                  line-height: 16px;
                  word-wrap: break-word">
                    {{"OBJECTIVOS" | translate}}
                  </span>
                  <div *ngFor="let goal of selectedGoal"
                    style="display: flex;justify-content: space-between;">
                    <span style="
                    
                    
                    
                    
                    word-wrap: break-word"> {{goal.name}} </span>
                    <img src="assets/icons/check_green.png" class="icon24"
                      alt>
                  </div>
                </div>
                <div style="flex-direction: column;">
                  <span style="
                  color: #8B9099;
                  font-size: 12px;
                  
                  font-weight: 600;
                  line-height: 16px;
                  word-wrap: break-word">
                    {{'multimedia' | translate }}
                  </span>
                  <span
                    *ngIf="getEvaluationsData().length === 0"
                    style="
                            
                            font-size: 12px;
                            
                            
                            line-height: 16px;
                            word-wrap: break-word">
                    {{'no_data' | translate }}
                  </span>
                  <div
                    style="float: left; width: 100%; border-radius: 10px;"
                    *ngFor="let item of getEvaluationsData()">
                    <ng-container
                      style="float: left; width: 25%; border-radius: 10px;"
                      *ngFor="let file of item.files">
                      <img *ngIf="file.type === 'image'"
                        [src]="file.file"
                        style="height: 150px;width: 150px;object-fit: cover;">
                      <video *ngIf="file.type === 'video'" width="150"
                        heigth="150" controls>
                        <source [src]="file.file" type="video/mp4">
                        <source [src]="file.file" type="video/ogg">
                      </video>
                    </ng-container>
                  </div>
                </div>
                <div style="flex-direction: column;">
                  <span style="
                  color: #8B9099;
                  font-size: 12px;
                  
                  font-weight: 600;
                  line-height: 16px;
                  word-wrap: break-word">
                    {{'monitor_comments' | translate }}
                  </span>
                  <span
                    *ngIf="getEvaluationsData().length === 0"
                    style="
                          
                          font-size: 12px;
                          
                          
                          line-height: 16px;
                          word-wrap: break-word">
                    {{'no_data' | translate }}
                  </span>
                  <mat-form-field class="flex-auto"
                    style="width: 100%"
                    *ngFor="let item of getEvaluationsData()">
                    <input matInput [readonly]=true type="text"
                      [value]="item.observations">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="{{'bookings' | translate }}">

      <div style="max-width: none" *ngIf="!loading && !selectedBooking">

        <div class="flex-auto">
          <table *ngIf="dataSource" mat-table [dataSource]="dataSource"
            class="mat-elevation-z8">

            <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef> Tipo </th>
              <td *matCellDef="let element" mat-cell
                style="height: 80px; width: 80px">
                <img [src]="element.sport"
                  class="avatar h-8 w-8 align-middle"
                  style="border-radius: 5px; height: 70%; width: 100%;">
              </td>
            </ng-container>

            <ng-container matColumnDef="dates">
              <th mat-header-cell *matHeaderCellDef> {{ 'dates' |
                translate }}
              </th>
              <td mat-cell *matCellDef="let element"
                (click)="selectBooking(element.id)">
                <strong>{{ getMinMaxDates(element.booking_users).minDate
                  |
                  date: 'dd/MM/YYYY'}}<br>{{
                  getMinMaxDates(element.booking_users).maxDate| date:
                  'dd/MM/YYYY' }}</strong><br>
                {{getMinMaxHours(element.booking_users).minHour }}h -
                {{getMinMaxHours(element.booking_users).maxHour}}h
              </td>
            </ng-container>

            <ng-container matColumnDef="booking_users[0].course.name">
              <th mat-header-cell *matHeaderCellDef> {{ 'course' |
                translate
                }} </th>
              <td mat-cell *matCellDef="let element"
                (click)="selectBooking(element.id)">
                {{getCourseName(element.booking_users[0]?.course) ||
                'N/A'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="has_boukii_care">
              <th *matHeaderCellDef class="uppercase" mat-header-cell>
                {{
                'has_boukii_Care' | translate }}</th>
              <td *matCellDef="let element" mat-cell
                (click)="selectBooking(element.id)">
                <div *ngIf="element.has_boukii_care"
                  style="background-color: #CEE741;width: 25px;border-radius: 100%;height: 25px;margin: 0 auto;"></div>
                <div *ngIf="!element.has_boukii_care"
                  style="background-color: #E6E6E6;width: 25px;border-radius: 100%;height: 25px;margin: 0 auto;"></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="has_cancellation_insurance">
              <th *matHeaderCellDef class="uppercase" mat-header-cell>
                {{
                'text_refund_option' | translate }}</th>
              <td *matCellDef="let element" mat-cell
                (click)="selectBooking(element.id)">
                <div *ngIf="element.has_cancellation_insurance"
                  style="background-color: #CEE741;width: 25px;border-radius: 100%;height: 25px;margin: 0 auto;"></div>
                <div *ngIf="!element.has_cancellation_insurance"
                  style="background-color: #E6E6E6;width: 25px;border-radius: 100%;height: 25px;margin: 0 auto;"></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="payment_method">
              <th mat-header-cell *matHeaderCellDef> {{ 'payment_method'
                |
                translate }} </th>
              <td mat-cell *matCellDef="let element">
                {{getPaymentMethod(element.payment_method_id)}} </td>
            </ng-container>

            <ng-container matColumnDef="payment_status">
              <th *matHeaderCellDef class="uppercase" mat-header-cell>{{
                "ispaid" | translate }}</th>
              <td *matCellDef="let element" mat-cell
                [style.color]=" element ? '#CEE741' : 'red'">
                {{ (element ? 'yes' : 'no')| translate | uppercase }}
              </td>
            </ng-container>

            <ng-container matColumnDef="cancelation_status">
              <th *matHeaderCellDef class="uppercase" mat-header-cell>
                {{
                "status" | translate }}</th>
              <td *matCellDef="let element" mat-cell
                [style.color]=" element === 1 ? '#CEE741' : '#fac710'">
                {{ (element === 1 ? 'active' : element === 2 ?
                'cancelled' :
                'partial_cancelled') | translate | uppercase }}
              </td>
            </ng-container>

            <ng-container matColumnDef="price_total">
              <th mat-header-cell *matHeaderCellDef> {{ 'price' |
                translate }}
              </th>
              <td mat-cell *matCellDef="let element"
                (click)="selectBooking(element.id)">
                {{element.price_total}}
                CHF</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              style="cursor: pointer;"></tr>
          </table>
        </div>
      </div>
      <!--<div style="width:100%;">
            <vex-booking-detail [hidden]="!selectedBooking"
              (closeBooking)="hideBooking()" [bookingId]="bookingId"
              [bookingSelectionChanged]="bookingSelectionChanged"></vex-booking-detail>
          </div>-->
    </mat-tab>
  </mat-tab-group>
</div>