<app-header></app-header>

<div (click)="goBack('home')" class="text-color-light montserrat cursor-pointer reservation-return">
    <img [src]="themeService.arrowReturn">
    {{'text_continue' | translate }}
</div>

<mat-tab-group *ngIf="!loading">
  <mat-tab label="Datos">

    <div class="container py-6" *ngIf="!loading">
      <div class="card overflow-hidden">
        <div class="h-64 relative overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="../../../../assets/images/8.png" />
          <div
            class="absolute bg-black opacity-25 top-0 right-0 bottom-0 left-0 w-full h-full z-0"></div>

          <img
            class="avatar h-24 w-24 absolute top-6 ltr:left-4 rtl:right-4 sm:hidden"
            [src]="userLogged.clients[0].image" />
        </div>

        <div class="z-10 relative -mt-16 px-6 flex items-center" style="margin-top: -6rem !important;position: relative;bottom: 80px;" >
          <img
            class="avatar h-24 w-24 flex-none align-start hidden sm:block border-2 border-white"
            [src]="userLogged.clients[0].image" />

          <div class="max-w-full flex-auto sm:ltr:ml-6 sm:rtl:mr-6">
            <div class="h-16 items-end">
              <p class="headline text-white" style="font-size: 12px;">{{getLanguage(userLogged.clients[0].language1_id)}} · {{getCountry(userLogged.clients[0].country)}} · {{calculateAge(userLogged.clients[0].birth_date)}}  &ensp;{{'years' | translate }}</p>

              <h1 class="headline text-white">{{userLogged.clients[0].first_name}} {{userLogged.clients[0].last_name}}</h1>

              <!-- añadir icono aqui-->
              <!-- añadir icono aqui-->
              <!-- añadir icono aqui-->
            </div>

          </div>
        </div>
      </div>

      <div class="mt-6 flex flex-col md:flex-row md:items-start" *ngIf="!loading">

        <div style="margin-left:0; margin-right: 1.5rem" class="card max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
          <div class="px-6 py-4 border-b">
            <h2 class="title m-0">{{'users' | translate }}</h2>
          </div>

          <div class="px-6 py-4 flex flex-col gap-4" style="cursor:pointer;">
            <div
              class="flex items-center" (click)="changeClientData(userLogged.clients[0].id)">
              <img
                [src]="userLogged.clients[0]?.image === null || userLogged.clients[0]?.image === '' ? '../../../../assets/img/avatar.png': userLogged.clients[0]?.image"
                [ngStyle]="{
                  'border': userLogged.clients[0].id && +userLogged.clients[0].id === id ? '#FF3085 1px solid' : 'none'
                }"
                alt="Profile Picture"
                class="avatar ltr:mr-3 rtl:ml-3 flex-none" />

              <div class="flex-auto">
                <h4 class="body-2 m-0 leading-snug" style="width: 90%; float:left">{{ userLogged.clients[0]?.first_name }} {{ userLogged.clients[0]?.last_name }}</h4>
              </div>
            </div>
            <div
              *ngFor="let user of userLogged.clients[0].utilizers;"
              class="flex items-center" style="cursor:pointer;" (click)="changeClientData(user.id)">
              <img
                [src]="user?.image === null || user?.image === '' ? '../../../../assets/img/avatar.png': user?.image"
                alt="Profile Picture"
                class="avatar ltr:mr-3 rtl:ml-3 flex-none"
                [ngStyle]="{
                  'border': +id === id && this.id !== userLogged.clients[0].id ? '#FF3085 1px solid' : 'none'
                }"
                />
              <div @fadeInRight class="flex-auto">
                <h4 class="body-2 m-0 leading-snug" style="width: 90%; float:left">{{ user?.first_name }} {{ user?.last_name }}</h4>
                <!--<span class="body-2 m-0 leading-snug"  style="width: 10%; float:left" (click)="deleteUserClient(user?.utilizer_id)"><mat-icon svgIcon="mat:delete"></mat-icon></span>-->
              </div>
            </div>

            <div style="cursor:pointer"
              class="flex items-center">
              <!--<mat-icon svgIcon="mat:add"></mat-icon>
              <div @fadeInRight class="flex-auto" (click)="addUtilisateur()">
                <h4 class="body-2 m-0 leading-snug">{{'add_user' | translate }}</h4>
              </div>-->
            </div>


          </div>
        </div>

      </div>
      <div class="mt-6 flex flex-col md:flex-row md:items-start"*ngIf="!loading">
        <div class="card" style="margin: 3% 0 0 0;">
          <div class="px-6 py-4 border-b">
            <h2 class="title m-0">{{'sport_evolution' | translate }}
            </h2>
          </div>

          <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4" style="border-bottom: 1px solid #ededed; padding:5%">
            <div class="py-3 flex items-center">
              <div style="float: left; width:100%;">
                <div style="float: left; width:25%;" *ngFor="let item of clientSport" (click)="selectSportEvo(item)">
                  <img [src]="selectedSport?.sport_id === item.sport_id ? item.icon_selected : item.icon_unselected" style="float: left;border-radius: 20%;border:1px solid; cursor:pointer;"
                  [ngStyle]="{
                    'background': selectedSport?.sport_id === item.sport_id ? '#e91e63' : '#e6e6e6',
                    'border': selectedSport?.sport_id === item.sport_id ? '#fff' : '#808080'
                  }">
                  <p style="width: 50%;float: left;text-align: center;text-wrap: nowrap;"> {{item.name}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4" style="border-bottom: 1px solid #ededed; padding:5%">
            <div class="py-3 flex items-center">
              <div style="float: left; width:100%;">
                <div style="float: left; width:100%;">
                  <div style="float: left; width:20%;">
                    <img [src]="selectedSport?.icon_selected" [style.background]="selectedSport?.level?.color" [style.border]="selectedSport?.level?.color" style="float: left;border-radius: 20%;border:1px solid">
                  </div>
                  <div style="float: left; width:80%;">
                    <p style="float: left; width:100%;font-size: 12px;">{{selectedSport?.level?.league}} - {{calculateGoalsScore() === 0 ? 0 : calculateGoalsScore() / this.selectedGoal.length}}%</p>
                    <h1 style="float: left; width:100%;font-size: 20px;">{{selectedSport?.level?.annotation}} / {{selectedSport?.level?.name}}</h1>
                  </div>

                  <div style="float: left; width:100%;margin: 2% 0 0 0;">
                    <mat-progress-bar mode="determinate" [value]="calculateGoalsScore()" [color]="selectedSport?.level?.color"></mat-progress-bar>

                  </div>

                  <div style="float: left; width:100%;margin: 4% 0 0 0;" *ngFor="let goal of selectedGoal">

                    <div style="float: left; width:3%;margin-right: 15px;">
                      <!-- añadir icono aqui-->
                    </div>

                    <div style="float: left; width:70%;">
                      <p>{{goal.name}} </p>
                    </div>

                    <div style="float: left; width:5%;margin-right: 15px;">
    <!-- añadir icono aqui-->
                    </div>

                    <div style="float: left; width:5%;margin-right: 15px;">
    <!-- añadir icono aqui-->
                    </div>

                    <div style="float: left; width:5%;">
    <!-- añadir icono aqui-->
                    </div>

                  </div>
                </div>



                <div style="float: left; width:100%;margin-top: 5%" *ngIf="false">
                  <h1 style="float: left; width:100%;font-size: 20px;">{{'historical' | translate }}</h1>

                </div>

              </div>

            </div>
            <div class="py-3 flex items-center">

              <div style="float: left; width:100%;">
                <app-level-user *ngIf="!coloring" [allLevels]="allLevels" [selectLevel]="selectedSport?.level?.id" [size]="200" [userImage]="userLogged.clients[0].image"></app-level-user>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Reservas">

    <div class="card overflow-hidden">
      <div class="h-64 relative overflow-hidden">
        <img
          class="w-full h-full object-cover"
          src="../../../../assets/images/8.png" />
        <div
          class="absolute bg-black opacity-25 top-0 right-0 bottom-0 left-0 w-full h-full z-0"></div>

        <img
          class="avatar h-24 w-24 absolute top-6 ltr:left-4 rtl:right-4 sm:hidden"
          [src]="userLogged.clients[0].image" />
      </div>

      <div class="z-10 relative -mt-16 px-6 flex items-center" style="margin-top: -6rem !important;position: relative;bottom: 80px;" >
        <img
          class="avatar h-24 w-24 flex-none align-start hidden sm:block border-2 border-white"
          [src]="userLogged.clients[0].image" />

        <div class="max-w-full flex-auto sm:ltr:ml-6 sm:rtl:mr-6">
          <div class="h-16 items-end">
            <p class="headline text-white" style="font-size: 12px;">{{getLanguage(userLogged.clients[0].language1_id)}} · {{getCountry(userLogged.clients[0].country)}} · {{calculateAge(userLogged.clients[0].birth_date)}}  &ensp;{{'years' | translate }}</p>

            <h1 class="headline text-white">{{userLogged.clients[0].first_name}} {{userLogged.clients[0].last_name}}</h1>

            <!-- añadir icono aqui-->
            <!-- añadir icono aqui-->
            <!-- añadir icono aqui-->
          </div>

        </div>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element" (click)="selectBooking(element.id)"> #{{element.id}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <vex-booking-detail *ngIf="selectedBooking" [id]="bookingId"></vex-booking-detail>

  </mat-tab>
</mat-tab-group>

