<div class="footer">
    <div style="display: flex;">
        <img src="assets/images/school-logo.png" class="icon48" alt>
        <p style="line-height: 14px; margin: 0 12px;">
            <span class="title1">
                School Testing
            </span>
            <br>
            <span class="title2">
                Les Paccots
            </span>
        </p>
    </div>
    <div>
        <img src="assets/images/boukii.png" alt
            style="width: 138px;height: fit-content;">
    </div>
    <div class="ref">
        <p>
            Preguntas frequentes
        </p>
        <p>
            Privacy policy
        </p>
        <p>
            Terminos y condiciones
        </p>
        <p>
            Contacto
        </p>
    </div>
    <div class="ref">
        <p>
            Address 1st line
        </p>
        <p>
            Address 2nd line
        </p>
        <p>
            Address 2nd line
        </p>
        <div style="display: flex; gap: 24px;">
            <img src="assets/icons/insta.png" class="icon24">
            <img src="assets/icons/facebook.png" class="icon24">
        </div>
    </div>
</div>