body {
  font-family: "DM Sans", sans-serif;
}

.Selector {
  display: flex;
  margin-top: 30px;
  font-size: 16px;
}

.Selector > select {
  max-width: calc((100% - 60px) / 4);
  width: 215px;
  height: 56px;
  padding: 4px 16px;
  appearance: none;
  background-image: url("../../../assets/icons/arrow-down.png");
  background-repeat: no-repeat;
  background-position: right 0 top 50%;
  background-size: contain;
  border-right: 2px solid #dee6ea;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.Selector > img {
  height: 56px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.Selector > select:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.Selector > select:nth-child(4) {
  border-right: none;
}

.titleSection {
  font-family: "Dinamit", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.search-button {
  display: none;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  width: 100%;
}

.search-button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.search-icon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.search-button:focus {
  outline: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .search-button {
    display: flex;
  }

  .Selector {
    display: none;
  }
}

.Section {
  margin-top: 30px;
}

.filterMobile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  > select {
    border-radius: 8px;
    border: 2px solid #dee6ea;
    height: 56px;
    width: 100%;
    padding: 4px 16px;
    appearance: none;
    background-image: url("../../../assets/icons/arrow-down.png");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    background-size: contain;
    font-size: 16px;
  }
  > button {
    font-family: "DM Sans", sans-serif;
    margin-top: 14px;
    height: 40px;
    width: 100%;
    background-color: #e91e63;
    color: white;
    font-size: 16px;

    border-radius: 8px;
  }
}

option {
  color: black;
}
.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
