<div style="background-color: #D2EFFF;border-radius: 8px;width: 100%;padding: 10px 20px; display: flex; gap: 8px;min-height: 65px;">
	<img src="assets/icons/info.png"
		class="icon24">
	<div style="display: flex;flex-direction: column;justify-content: space-between;">
		<span style="
     font-weight: 600;
     line-height: 23px;">
			{{"important_info" | translate}}
		</span>
		<span>
			{{"avalanche_risk" | translate}}
		</span>
	</div>
</div>
<div style="margin-top: 45px;">
	<p style="color: var(--Dark-01, #222);
  font-family: Dinamit;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 11px;">
		{{"find_your_course" | translate}}
	</p>
	<p style="color: var(--Dark-01, #222);font-style: normal;">
		{{"select_course_type" | translate}}
	</p>
</div>

<div [formGroup]="FormGroup"
	class="Selector">
	<select [style.color]="FormGroup.controls['deporte'].value?'#222222':'#8B9099'"
		formControlName="deporte">
		<option selected
			value>
			{{"text_sport" | translate}}
		</option>
		<option *ngFor="let sport of schoolData?.sports"
			[value]="sport.id">
			{{sport.name}}
		</option>
	</select>
	<select [style.color]="FormGroup.controls['course_type'].value?'#222222':'#8B9099'"
		formControlName="course_type">
		<option selected
			value>
			{{"table.filter.course" | translate}}
		</option>
		<option [value]="1">
			{{'text_collectivescourses'| translate }}
		</option>
		<option [value]="2">
			{{'text_privatecourses'| translate }}
		</option>
	</select>
	<select [style.color]="FormGroup.controls['edat'].value?'#222222':'#8B9099'"
		formControlName="edat">
		<option selected
			value>
			{{"age" | translate}}
		</option>
		<option *ngFor="let ageOption of ageOptions"
			[value]="ageOption.id">
			{{ageOption.label | translate
      }}
		</option>
	</select>
	<select [style.color]="FormGroup.controls['nivel'].value?'#222222':'#8B9099'"
		formControlName="nivel">
		<option selected
			value>
			{{"text_level" | translate}}
		</option>
		<option *ngFor="let degreeOption of degreeOptions"
			[value]="degreeOption.id">
			{{degreeOption.label | translate }}
		</option>
	</select>
	<img (click)="searchCourses()"
		src="assets/icons/search.png"
		alt
		style="cursor: pointer;">
</div>
<button (click)="FilterModal=true"
	class="search-button">
	<img src="assets/icons/search2.png"
		alt="Buscar"
		class="search-icon">
	{{"course_interest" | translate}}
</button>
<ng-container *ngIf="ResultCourse">
	<div class="Section">
		<span class="titleSection">
			{{ResultCourse.length}} {{"results" | translate}}
		</span>
		<span (click)="ResultCourse=undefined"
			style="margin: 10px;cursor: pointer;">
			X
		</span>
		<div class="card-container">
			<app-home-course-card *ngFor="let item of ResultCourse"
				[data]="item"
				(click)="router.navigate([schoolData.slug+'/course/'+item.id])">
			</app-home-course-card>
			<span *ngIf="ResultCourse.length===0">
				{{"no_course_available" | translate}}
			</span>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="!ResultCourse && DestacadoCourse">
	<div class="Section">
		<span class="titleSection">
			{{"featured_courses" | translate}}
		</span>
		<div class="card-container">
			<app-home-course-card *ngFor="let item of DestacadoCourse; index as i"
				[data]="item"
				(click)="router.navigate([schoolData.slug+'/course/'+item.id])">
			</app-home-course-card>
			<span *ngIf="DestacadoCourse.length===0">
				{{"no_course_available" | translate}}
			</span>
		</div>
	</div>
	<div class="Section">
		<img src="assets/images/banner.png"
			alt>
	</div>
	<div class="Section">
		<span class="titleSection">
			{{"upcoming_courses" | translate}}
		</span>
		<div class="card-container">
			<app-home-course-card *ngFor="let item of ProximosCourse"
				[data]="item"
				(click)="router.navigate([schoolData.slug+'/course/'+item.id])">
			</app-home-course-card>
			<span *ngIf="ProximosCourse.length===0">
				{{"no_course_available" | translate}}
			</span>
		</div>
	</div>
</ng-container>
<div class="Section"
	style="text-align: -webkit-center;">
	<span class="titleSection">
		{{"sponsors" | translate}}
	</span>
	<img src="assets/images/patrocinio.png"
		alt
		style="margin: 30px 0;">
</div>
<app-mobile-modal *ngIf="FilterModal"
	(Close)="FilterModal=false"
	title="Encuentra tu curso ideal">
	<div [formGroup]="FormGroup"
		body
		class="filterMobile">
		<select [style.color]="FormGroup.controls['deporte'].value?'#222222':'#8B9099'"
			formControlName="deporte">
			<option disabled
				selected
				hidden
				value>
				{{"sport" | translate}}
			</option>
			<option *ngFor="let sport of schoolData?.sports"
				[value]="sport.id">
				{{sport.name}}
			</option>
		</select>
		<select [style.color]="FormGroup.controls['course_type'].value?'#222222':'#8B9099'"
			formControlName="course_type">
			<option disabled
				selected
				hidden
				value>
				{{"table.filter.course" | translate}}
			</option>
			<option [value]="1">
				{{'text_collectivescourses'| translate }}
			</option>
			<option [value]="2">
				{{'text_privatecourses'| translate }}
			</option>
		</select>
		<select [style.color]="FormGroup.controls['edat'].value?'#222222':'#8B9099'"
			formControlName="edat">
			<option disabled
				selected
				hidden
				value>
				{{"age" | translate}}
			</option>
			<option *ngFor="let ageOption of ageOptions"
				[value]="ageOption.id">
				{{ageOption.label | translate        }}
			</option>
		</select>
		<select [style.color]="FormGroup.controls['nivel'].value?'#222222':'#8B9099'"
			formControlName="nivel">
			<option disabled
				selected
				hidden
				value>
				{{"level" | translate}}
			</option>
			<option *ngFor="let degreeOption of degreeOptions"
				[value]="degreeOption.id">
				{{degreeOption.label | translate }}
			</option>
		</select>
		<button (click)="searchCourses();FilterModal=false">
			{{"search" | translate}}
		</button>
	</div>
</app-mobile-modal>
