<div
  style="background-color: #D2EFFF;border-radius: 8px;width: 100%;padding: 10px 20px; display: flex; gap: 8px;min-height: 65px;">
  <img src="assets/icons/info.png" class="icon24">
  <div
    style="display: flex;flex-direction: column;justify-content: space-between;">
    <span style="
    color: #222222;
     font-size: 14px;
     font-family: DM Sans;
     font-weight: 600;
     line-height: 23px;
     word-wrap: break-word">Información importante</span>
    <span style="
    color: #222222;
     font-size: 14px;
     font-family: DM Sans;
     font-weight: 400;
     line-height: 18px;
     word-wrap: break-word">
      Riesgo de avalancha debido a inestabilidad meteo. Riesgo de avalancha
      debido
      a inestabilidad meteo.
    </span>
  </div>
</div>
<div style="margin-top: 45px;">
  <p style="color: var(--Dark-01, #222);
  font-family: Dinamit;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 11px;">
    Encuentra tu curso ideal
  </p>
  <p style="color: var(--Dark-01, #222);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;">
    Selecciona el tipo de curso que prefieras buscar y utiliza los filtros para
    encontrar el deporte que más se adapte a ti.
  </p>
</div>

<div class="Selector" [formGroup]="FormGroup">
  <select
    [style.color]="FormGroup.controls['deporte'].value?'#222222':'#8B9099'"
    formControlName="deporte">
    <option disabled selected hidden value>
      {{"Deporte" | translate}}
    </option>
    <option [value]="sport.id"
      *ngFor="let sport of schoolData?.sports">{{sport.name}}</option>
  </select>
  <select formControlName="cursoType"
    [style.color]="FormGroup.controls['cursoType'].value?'#222222':'#8B9099'">
    <option disabled selected hidden value>
      {{"Tipo de curso" | translate}}
    </option>
    <option [value]="1">{{'text_collectivescourses'| translate }}</option>
    <option [value]="2">{{'text_privatecourses'| translate }}</option>
  </select>
  <select formControlName="edat"
    [style.color]="FormGroup.controls['edat'].value?'#222222':'#8B9099'">
    <option disabled selected hidden value>
      {{"Edat" | translate}}
    </option>
    <option [value]="ageOption.id"
      *ngFor="let ageOption of ageOptions">{{ageOption.label | translate
      }}</option>
  </select>
  <select formControlName="nivel"
    [style.color]="FormGroup.controls['nivel'].value?'#222222':'#8B9099'">
    <option disabled selected hidden value>
      {{"Nivel" | translate}}
    </option>
    <option [value]="degreeOption.id"
      *ngFor="let degreeOption of degreeOptions">
      {{degreeOption.label | translate }}</option>
  </select>
  <img src="assets/icons/search.png" alt (click)="searchCourses()"
    style="cursor: pointer;">
</div>

<button class="search-button">
  <img src="assets/icons/search2.png" alt="Buscar" class="search-icon" />
  Que curso te interesa?
</button>

<ng-container *ngIf="ResultCourse">
  <div class="Section">
    <span class="titleSection">{{ResultCourse.length}}
      resultado{{ResultCourse.length>1?"s":""}}</span>
    <span style="margin: 10px;cursor: pointer;"
      (click)="ResultCourse=undefined">X</span>
    <div class="card-container">
      <app-home-course-card [data]="item"
        *ngFor="let item of ResultCourse">
      </app-home-course-card>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!ResultCourse">

  <div class="Section">
    <span class="titleSection">Cursos destacados</span>
    <div class="card-container">
      <app-home-course-card [data]="item"
        *ngFor="let item of DestacadoCourse">
      </app-home-course-card>
    </div>
  </div>
  <div class="Section">
    <img src="assets/images/banner.png" alt>
  </div>
  <div class="Section">
    <span class="titleSection">Proximos cursos</span>
    <div class="card-container">
      <app-home-course-card [data]="item"
        *ngFor="let item of ProximosCourse">
      </app-home-course-card>
    </div>
  </div>
</ng-container>
<div class="Section" style="text-align: -webkit-center;">
  <span class="titleSection">
    Patrocinadores
  </span>
  <img src="assets/images/patrocinio.png" alt style="margin: 30px 0;">
</div>