<div class="modal" [@fadeInOut] *ngIf="isOpen" (click)="closeModal()">
    <div class="modal-content background-color-full rounded-8" (click)="$event.stopPropagation()">
        <div class="text-color fw-semibold text-semibig modal-flex-title mb-32 pb-12">
            {{'text_add_user' | translate }}
            <img [src]="themeService.close" class="cursor-pointer" (click)="closeModal()" />
        </div>

        <div class="modal-form">

            <div class="modal-form-block-half">
                <div class="text-color-light text-small uppercase">
                    {{'text_first_name' | translate }}
                </div>
                <input type="text" class="form-control width-100" />
            </div>
            <div class="modal-form-block-half">
                <div class="text-color-light text-small uppercase">
                    {{'text_last_name' | translate }}
                </div>
                <input type="text" class="form-control width-100" />
            </div>
            <div class="modal-form-block-half">
                <div class="text-color-light text-small uppercase">
                    {{'text_birth_date' | translate }}
                </div>
                <input type="date" class="form-control width-100" />
            </div>
            <div class="modal-form-block-half">
                <div class="text-color-light text-small uppercase">
                    {{'text_language' | translate }}
                </div>
                <select class="form-control width-100">
                    <option value="fr">French</option>
                    <option value="en">English</option>
                    <option value="es">Spanish</option>
                </select>
            </div>
        </div>
      
        <button (click)="closeModal()" class="btn-back-primary rounded-8 button-style cursor-pointer mt-32 width-100" type="button">
            {{'text_confirm' | translate }}
        </button>

    </div>
  </div>
  