.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
  padding: 0.5rem 1rem;
  background: #fff;
  margin: 0; /* elimina los márgenes por defecto de h2 */
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #ff3085;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(#ff3085, 10%);
  }

  &.btn-1 {
    background-color: #ff3085;
    box-shadow: 0 6px darken(#ff3085, 10%);
    transition: none;

    &:hover {
      box-shadow: 0 4px darken(#ff3085, 10%);
      top: 2px;
    }
  }
}

.flex-sections-user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  > div {
    display: flex;
    border: 1px solid #8b9099;
    gap: 20px;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    position: relative;
    > div {
      flex: 0 0 calc(50% - 10px);
      box-sizing: border-box;
      > p {
        margin-bottom: 8px;
      }
      > p:first-child {
        color: #8b9099;
        font-size: 12px;
        font-family: DM Sans;
        font-weight: 600;
        line-height: 16px;
        word-wrap: break-word;
      }
      > p:nth-child(2) {
        color: #222222;
        font-size: 12px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word;
      }
    }
    > .delete {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-left: auto;
      span {
        color: #e70f0f;
        font-size: 12px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word;
      }
    }
    > img.icon24 {
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
